table {
      width: 90%;
      margin: 0 auto;
      
}
.tb {
      text-align: center;
      font-weight: bold;
      margin-top: 3rem;
}

h1 {
      margin-left: 7rem;
}
table, th, td {
      border-collapse: collapse;
      margin: 1rem;
      
    }

    th, td {
      padding: .5rem;
      text-align: center;
    }

    .td {
      color: purple;
      cursor: pointer;
      text-decoration: underline;
    }

    .gray1 {
      background-color: #ccc;
    }

    .n {
      color: red;
    }